*{
    padding:0;
    margin:0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
overflow: hidden;
}

.container{
    display: flex;
    width: 1000vw;
    height: 70vw;
    margin-top: 60%;
    margin-left: 30%;
}

.slide {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 80%;
}


.panel {
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 50vh;
border-radius: 50px;
color: #fff;
cursor: pointer;
flex: 0.5;
margin: 10px;
margin-right: 20px;
margin-bottom: 50%;
position: relative;
transition: all 700ms ease-in;
filter: grayscale(100%);
}

.panel:hover{
filter: grayscale(0);
cursor: pointer;
transform: scale(1.1);
}

.panel h1{
    font-size: 35px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active{
flex: 5;
}

.panel.active h1{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s; 
}

background-image{
    filter: grayscale(100%);
}

@media (max-width:480px){
    .container{
        width: 100vw;
        transition: opacity 0.3s ease-in 0.4s; 
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
}